<div class="flex flex-col gap-1 py-4">
  <p-button
    icon="pi pi-file-pdf"
    styleClass="text-sky-800"
    label="CNPJ"
    link
    (onClick)="openDocument('cnpj')"
  />
  <p-button
    icon="pi pi-file-pdf"
    styleClass="text-sky-800"
    label="Ata de Fundação"
    link
    (onClick)="openDocument('ata-fundacao')"
  />
  <p-button
    icon="pi pi-file-pdf"
    styleClass="text-sky-800"
    label="Estatuto Social"
    link
    (onClick)="openDocument('estatuto-social')"
  />
  <p-button
    icon="pi pi-file-pdf"
    styleClass="text-sky-800"
    label="Certidão Cadastral de Parceiros - CGE/CE"
    link
    (onClick)="openDocument('cge')"
  />
  <p-button
    icon="pi pi-file-pdf"
    styleClass="text-sky-800"
    label="Renovação de Captação - Velas que Contam"
    link
    (onClick)="openDocument('DOU-velas')"
  />
</div>
