<div>
  <div>
    <h3 class="my-4 text-3xl text-sky-950">Doação em dinheiro</h3>
    <div class="w-full flex justify-between flex-wrap">
      <div class="flex flex-col gap-4">
        <h2 class="text-2xl text-sky-950">Chave PIX</h2>
        <div>
          <p><strong>CNPJ:</strong> 52.805.931/0001-60</p>
        </div>
      </div>
      <div class="flex flex-col gap-4">
        <h2 class="text-2xl text-sky-950">Conta Corrente</h2>
        <div>
          <p><strong>Banco:</strong> Nome do Banco</p>
          <p><strong>Agência:</strong> 0001</p>
          <p><strong>Conta:</strong> 6492163-0</p>
          <p><strong>Instituição:</strong> 403 - Cora SCFI</p>
          <p><strong>Nome da empresa:</strong> Instituo Pescador Abdon Gomes da Silva</p>
          <p><strong>CNPJ:</strong> 52.805.931/0001-60</p>
        </div>
      </div>
    </div>
  </div>
  <div>
    <h3 class="my-4 text-3xl text-sky-950">Outras Doações</h3>
    <div class="flex flex-col gap-4 text-center">
      <p>
        Aceitamos doações de alimentos, produtos de higiene, cestas básicas,
        materiais escolares e diversos outros itens. Distribuímos essas doações
        para a comunidade costeira e assentamentos, tanto durante nossas ações e
        eventos quanto através de entregas porta a porta para quem mais precisa.
      </p>
      <p>Entre em contato com a gente e saiba como contribuir!</p>
    </div>
  </div>
</div>
