<div class="flex flex-col gap-4 p-4">
  <div class="flex flex-col md:flex-row gap-4">
    <img alt="Jangada" src="../../../assets/barco-p.png" style="width: 400px; height: auto;" />
    <div class="flex flex-col gap-3">
      <p>
        O Instituto Pescador Abdon Gomes da Silva nasceu com a missão de
        preservar, valorizar e fortalecer a cultura da pesca artesanal e outras
        tradições dos povos do mar, especialmente na região litorânea de
        Beberibe-CE, onde está sediado. A entidade atua diretamente junto a
        colônias de pescadores e assentamentos, promovendo o desenvolvimento
        social, o resgate da identidade cultural e a construção de novas
        perspectivas para as comunidades costeiras.
      </p>
      <p>
        Por meio de parcerias, ações e eventos sociais, o Instituto busca
        proporcionar dignidade, senso de pertencimento e valorização das
        práticas sustentáveis, unindo tradição e inovação.
      </p>
      <p>
        O nome do Instituto homenageia o beberibense e jangadeiro pescador Abdon
        Gomes da Silva (19XX - 19YY). Ele é reconhecido pela própria comunidade,
        que o eternizou como símbolo dos povos do litoral e da cultura pesqueira
        local dando seu nome a uma rua do distrito de Morro Branco, onde viveu e
        trabalhou durante toda sua vida.
      </p>
    </div>
  </div>

  <div class="flex flex-col-reverse md:flex-row gap-4">
    <div class="flex flex-col gap-3 px-0 md:px-8">
      <p>
        O instituto foi fundado pelo neto do Abdon Gomes da Silva, professor Sérgio
        Ricardo da Silva, cuja trajetória é marcada pelo compromisso com a
        valorização cultural, o esporte e a transformação social. Ele cresceu
        imerso na realidade da pesca artesanal, acompanhando seus avós e tios no
        ofício do mar — experiências que despertaram seu olhar sensível para a
        preservação da história e identidade das comunidades costeiras.
      </p>
      <p>
        Com formação acadêmica em Gestão de Esporte e Lazer pela URCA, é também
        Bacharel em Educação Física e Licenciado em Pedagogia. Sérgio construiu
        uma sólida carreira atuando em programas sociais municipais, estaduais e
        federais, com foco no esporte, lazer e inclusão. Entre suas conquistas,
        destaca-se como um dos idealizadores da Lei de Incentivo ao Esporte no
        Ceará, além de sua participação ativa no Conselho de Esporte Estadual e
        na coordenação de cursos superiores em diversas instituições.
      </p>
    </div>
    <img
      alt="Professor Sergio entregando cesta básica a uma mulher"
      src="../../../assets/sergio-evento.jpeg"
      style="width: 400px; height: auto;"
    />
  </div>
</div>
