<p-card [style]="{ width: '25rem', overflow: 'hidden', padding: '20px' }">
  <ng-template #header>
    <p-galleria
      [value]="galleriaInfo().images"
      [showIndicators]="true"
      [showThumbnails]="false"
      [changeItemOnIndicatorHover]="true"
      [containerStyle]="{
        'max-width': '640px',
        'max-height': '356px',
        border: 'none',
        'border-radius': '0px'
      }"
    >
      <ng-template #item let-item>
        <p-image
          [src]="item.src"
          [alt]="item.alt"
          style="height: 300px; width: auto; border-radius: 6px"
          [preview]="true"
        />
      </ng-template>
    </p-galleria>
  </ng-template>
  <ng-template #title>{{ galleriaInfo().title }}</ng-template>
  <ng-template #subtitle>{{ galleriaInfo().date }}</ng-template>
  <p>{{ galleriaInfo().description }}</p>
</p-card>
