<footer class="bg-sky-950 p-10 flex gap-8" style="color: white">
  <img
    alt="logo"
    src="../../../assets/logo-completa-b.png"
    style="width: 200px"
  />

  <p class="w-3xs text-center self-center">
    O Instituto Pescador Abdon Gomes da Silva é uma entidade sem fins lucrativos
    criado para promover o desenvolvimento social, o resgate da identidade
    cultural e a construção de novas perspectivas das comunidades costeiras.
  </p>

  <div class="flex flex-col gap-4 grow self-center">
    <div class="flex gap-4">
        <p>O Instituto</p>
        <p>Ações</p>
        <p>Eventos</p>
        <p>Como Doar</p>
        <p>Parceiros</p>
        <p>Contato</p>
    </div>
    <p-divider />
    <h3>Confira:</h3>
    <div class="flex gap-4">
      <i class="pi pi-instagram" style="color: white; font-size: 1.5rem"></i>
      <i class="pi pi-youtube" style="color: white; font-size: 1.5rem"></i>
    </div>
  </div>
</footer>
