<footer class="bg-sky-950 p-10 w-full">
  <div class="flex flex-col md:flex-row gap-8 text-white max-w-7xl mx-auto">
    <img
      alt="logo"
      src="../../../assets/logo_completa_branca_cut.png"
      style="width: 250px; height: auto"
      class="self-center"
    />

    <p
      class="p-small md:text-sm w-full md:w-3xs text-center md:text-left self-center md:self-start"
    >
      O Instituto Pescador Abdon Gomes da Silva é uma entidade sem fins
      lucrativos criado para promover o desenvolvimento social, o resgate da
      identidade cultural e a construção de novas perspectivas das comunidades
      costeiras.
    </p>

    <div class="flex flex-col gap-4 grow self-center">
      <div class="flex gap-4 flex-wrap">
        <p>O Instituto</p>
        <p>Ações</p>
        <p>Eventos</p>
        <p>Como Doar</p>
        <p>Parceiros</p>
        <p>Contato</p>
      </div>
      <p-divider />
      <h3 class="text-center md:text-left">Confira:</h3>
      <div class="flex justify-center md:justify-start gap-4">
        <a
          href="https://www.instagram.com/institutoabdon/"
          target="_blank"
        >
          <i
            class="pi pi-instagram"
            style="color: white; font-size: 1.5rem"
          ></i>
        </a>
        <a
          href="https://www.youtube.com/@InstitutoPescadorAbdonGomesdaS"
          target="_blank"
        >
          <i class="pi pi-youtube" style="color: white; font-size: 1.5rem"></i>
        </a>
      </div>
    </div>
  </div>
</footer>
