<app-header />
<div class="px-4 sm:px-6 md:px-10 max-w-7xl mx-auto">
  <section id="instituto">
    <h2 class="text-center my-4 text-5xl text-sky-950">O Instituto</h2>
    <app-about />
  </section>

  <section id="acoes">
    <h2 class="text-center my-4 text-5xl text-sky-950">Ações</h2>
  </section>

  <section id="eventos">
    <h2 class="text-center my-4 text-5xl text-sky-950">Eventos</h2>
  </section>

  <section id="doar">
    <h2 class="text-center my-4 text-5xl text-sky-950">Como Doar</h2>
    <app-donate />
  </section>

  <section id="transparencia">
    <h2 class="text-center my-4 text-5xl text-sky-950">Transparência</h2>
    <app-transparency />
  </section>

  <section id="parceiros">
    <h2 class="text-center my-4 text-5xl text-sky-950">Parceiros</h2>
    <app-partner />
  </section>

  <section id="contato">
    <h2 class="text-center my-4 text-5xl text-sky-950">Contate-nos</h2>
    <app-contact />
  </section>
</div>
<app-footer />

<router-outlet />
